/* Загальний контейнер */
.offerSection {

  display: flex;
   gap: 20px; /* 🔥 ДОДАЛА: відступ між 1 і 2 карткою */
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  padding: 40px;

}

/* Загальна картка */
.offerCard--first--second {
display: flex;
justify-content: space-between;
flex-direction: column;
}

.offerCard {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
   height: 800px;
}

/* Ліва велика */
.offerCard--first {

  background: linear-gradient(to right, #F1EFF0, #F1F0F0, #F3F0EF);
}

/* Права верхня */
.offerCard--second {
  background: linear-gradient(to right, #F7E0D5, #F3DCD2, #f3dcd2);
 margin-top: 20px;
 
}

/* Права нижня */
.offerCard--third {
     grid-row: 1 / 3;
 background: linear-gradient(to right, #E0DED3, #E0DDD5, #E0DDD5);
}

/* Внутрішній flex */
.offerCard__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-right: 20px;
}
.offerCard__inner {
  display: flex;
  gap: 20px; /* 🔥 ДОДАЛА: відступ між фото і текстом */
}


/* Контент */

.offerCard__content {
  max-width: 45%;
  display: flex;
  flex-direction: column;

}


/* Заголовки */
.offerCard__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* Текст */
.offerCard__text {
  font-size: 14px;
  color: #555;
  margin-bottom: 24px;
}

/* Кнопка */
.offerCard__button {
  padding: 10px 22px;
  border: 1px solid #000;
  background: transparent;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.offerCard__button:hover {
  background: #000;
  color: #fff;
}

/* Картинка */
.offerCard__image {
height: auto;
  object-fit: contain;
}