.like {
    width: 20px;
    height: 20px;
}

header {
    background-color: black;
    height: 115px;
}

.header__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    height: 28px;
    background-color: #000;
    border: 0px;
    text-decoration: none;
}

.header__link:hover {
    border-bottom: 2px solid #eb5757;
}

.header__nav {
    display: flex;
    align-items: baseline;
    gap: 28px;
}

.header__search {
    width: 320px;
    padding: 5px 8px 5px 24px;
    background-color: black;
    border: 0px;
    color: #fff;
}

.header__search::placeholder {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.header__search:focus::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #c4c4c4;
}

.header__search:focus+img {
    width: 12px;
    height: 12px;
    top: 3px;
    right: 20px;
}

.header__search:focus {
    padding: 5px 8px 5px 28px;
    border-bottom: 1px solid white;
    outline: none;
}

.header__box-search {
    position: relative;
}

.header__box-search>img {
    position: relative;
    top: 4px;
    right: 318px;
    height: 16px;
    width: 16px;
}

.header__container {
    display: flex;
    align-items: anchor-center;
    justify-content: space-between;
    height: 115px;
    padding: 0px 27px;
}

.logo {
    width: 94px;
    height: 44px;
}

.header__acount-box {
    display: flex;
    align-items: anchor-center;
    height: 115px;
    gap: 20px;
}

.header__cart-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 250%;
    letter-spacing: 0.01em;
    color: #fff;
    height: 22px;
}

.header__acount-box-link {
    display: flex;
    gap: 12px;
    height: 21px;
}

.header__box-cart {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

/*модальне вікно*/

.modal-block-text {
    width: 188px;
}

.modal-block-text>a {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3f3f3f;
    text-decoration: none;
}

.modal-block-text>h5 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000;
    margin: 0px;
    border-bottom: 2px solid black;
    width: 210px;
    padding: 0px 0px 4px;
    margin: 0px 0px 18px;
}

.modal-window {
    display: flex;
    gap: 100px;
    position: relative;
    align-items: center;
    padding: 0px 0px 0px 42px;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.25);
    width: 1195px;
    background-color: white;
    z-index: 20;
}

/* full-screen invisible backdrop placed behind modal to block clicks to underlying content */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0); /* keep visually transparent but intercept clicks */
    z-index: 19;
}


.modal-window>img {
    position: relative;
    right: 160px;
    z-index: -1;
}

.clouse {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}