*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
:root {
  --Gray-1: rgba(130, 130, 130, 1);
  --Gray-2: rgba(79, 79, 79, 1);
  --White: rgba(255, 255, 255, 1);
  --Black: rgba(0, 0, 0, 1);
  --Black-2: rgba(63, 63, 63, 1);
}

.container {
  width: 1880px;
  margin: 0 auto;
}
.footer {
  background-color: var(--Black);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;

  padding: 65px 0 116px;
}
/* .footer__logo-link {
} */
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__list-title {
  color: var(--White);

  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footer__list-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 17px;
}
.footer__list-item {
  color: var(--Gray-1);

  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  transition: color 200ms ease-in-out;
}
.footer__list-item:hover {
  color: var(--White);
}
.footer__list-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.footer__list-address-title {
  color: var(--White);

  font-family: Oswald;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footer__list-address {
  color: var(--Gray-1);

  font-family: Roboto Medium;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footer__list-items-soc {
  gap: 26px;
}
.footer__list-soc {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer__list-soc-item {
  color: var(--Gray-1);

  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  transition: color 200ms ease-in-out;
}
.footer__list-soc:hover .footer__list-soc-item {
  color: var(--White);
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}
.footer__form-title {
  color: var(--Gray-1);

  font-family: Roboto Medium;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  margin-bottom: 3px;
}
.footer__form-input {
  width: 280px;
  height: 40px;
  border: 1px solid var(--White);
  background-color: var(--Black);

  padding-left: 15px;

  color: var(--White);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__form-input::placeholder {
  color: var(--Gray-1);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__form-btn {
  width: 280px;
  height: 40px;

  color: var(--Black-2);

  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: background-color 200ms ease-in-out;
}
.footer__form-btn:hover {
  background-color: rgb(200, 200, 200);
}
.footer__rights {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 40px;
}
.footer__hr {
  width: 100%;
  border: 1px solid var(--Gray-2);

  margin: 0;
}
.footer__rights-txt {
  color: var(--White);

  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
