.Blog {
    background-color: #F8F9FB;
    padding: 46px 0;
}
.BlogTitle {
    font-family: Oswald;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0%;
    margin: 0 auto;
}
.BlogContainer {
    display: flex;
    gap: 30px;
}
.BlogCard {
    width: 447px;
    height: 420px;
    background-color: #FFFFFF;
}