.Blog {
  background-color: #f8f9fb;
  padding: 46px 0;
}

.BlogTitle {
  font-family: 'Oswald';
  font-size: 24px;
  margin-bottom: 30px;
}

.BlogContainer {
  display: flex;
  gap: 30px;
}

.BlogCard {
  background: #fff;
  padding: 24px;
  flex: 1;
  min-height: 420px;

  display: flex;
  flex-direction: column;
}

.BlogType {
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #BDBDBD;
  margin-bottom: 20px;
}

.ArticleTitle {
  font-family: 'Oswald';
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 32px;
}

.ArticleText {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.ArticleDate {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 13px;
  color: #4F4F4F;

  border-top: 3px solid #000;
  padding-top: 10px;

  margin-top: auto;
}