html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

.pageLoader {
  color: black;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  margin: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-transform: uppercase;
}