.linkBlog {
    display: flex;
    justify-content: center;
    gap: 5px;

    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 486%;
        color: #828282;
    }
}

.blogTitle {
    background-image: url('/src/images/BlogPage/blogTitle.png');
    background-repeat: no-repeat;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;

    h1 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 142%;
        color: #000;
        padding: 1vw 5vw;
        background-color: #fff;
    }
}

.blogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 213%;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 100%;
    color: #3f3f3f;
    max-width: 813px;
}

.contentTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blogContent {
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
        max-width: 813px;
    }
}

.blogSectionContent {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 25px 0px 157px;
    gap: 3vw;
}

.adverstisingBox {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.categoryItem {
    font-weight: 600;
    font-size: 12px;
}

.description {
    font-weight: 300;
    font-size: 18px;
}

.prise {
    font-weight: 500;
    font-size: 22px;
}

.image {
    max-width: 353px;
}

.itemBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 353px;
}