.linkBlog {
    display: flex;
    justify-content: center;
    gap: 5px;

    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 486%;
        color: #828282;
    }
}

.blogTitle {
    background-image: url('/src/images/BlogPage/blogTitle.png');
    background-repeat: no-repeat;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;

    h1 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 142%;
        color: #000;
        padding: 1vw 5vw;
        background-color: #fff;
    }


}

.contentTitle {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 213%;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        line-height: 138%;
        color: #3f3f3f;
        width: 818px;
    }
}

.blogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 213%;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    line-height: 100%;
    color: #3f3f3f;
    max-width: 813px;
}

.blogContent {
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
        max-width: 813px;
    }
}

.blogSectionContent {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 25px 0px 101px;
    gap: 3vw;
}

.adverstisingBox {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.categoryItem {
    font-weight: 600;
    font-size: 12px;
}

.description {
    font-weight: 300;
    font-size: 18px;
}

.prise {
    font-weight: 500;
    font-size: 22px;
}

.image {
    max-width: 353px;
}

.itemBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 353px;
}

.bonusTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 283%;
}

.categoryItem {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 0px 0px;
}

.description {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.price {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 0px 0px;
}

.image {
    width: 324px;
    height: 450px;
}

.itemBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 322px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.itemBox:hover{
    transform: translateY(-8px);    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.otherItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxCard {
    display: flex;
    gap: 31px;
}